.story {
  // Nested grid within the main 'container' grid for images below
  &__pictures {
    background-color: $color-primary;
    grid-column: full-start / col-end 4; // Grid spans 4 columns
    display: grid;
    grid-template-rows: repeat(6, 1fr); // 6 x 6 grid to position images
    grid-template-columns: repeat(6, 1fr);
    align-items: center; // Centers items in a cell as the images have a pre-defined aspect ratio
    // Because they are centred, the remaining fr values fill the space around it
    background-image: linear-gradient(
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.5)
      ),
      url(../img/back.jpg);
    background-size: cover;

    // Span the full width / apply a 60px section padding

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      padding: 6rem;
    }
  }

  // Position each image on a line within the nested parent (pictures) grid

  &__img--1 {
    width: 100%;
    grid-row: 2 / 6; // These define the images positioning on the 6x6 grid (7x7 lines)
    grid-column: 2 / 6;
    box-sizing: 0 2rem 5rem rgba(#000, 0.1);

    // Redefine their positioning

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / 5;
      grid-row: 1 / -1;
    }
  }

  &__img--2 {
    width: 115%; // With the z-index, this allows the image to overlap
    grid-row: 4 / 6;
    grid-column: 4 / 7;
    z-index: 20;
    box-sizing: 0 2rem 5rem rgba(#000, 0.2);

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      grid-row: 1 / -1;
    }
  }

  &__content {
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; // Prevent button from taking up full width
    */

    // Position the content on the main 'container' grid / 5 in from col-start - end on the last line

    display: grid;
    align-content: center;
    justify-items: start;
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vw; // vw defines how much of the viewport % the padding uses

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      grid-row: 5 / 6;
    }
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
